@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

.font-mulish {
  font-family: 'Mulish', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.background {
  background-image: url('../images/bgbanner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  bottom: 0;
  width: 100%;
}

.active-stat {
  height: 50px;
  width: 50px;
}
